<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/logo.png" alt="Los Verdes Logo" height="90" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-order" routerLinkActive="active">Crear Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active">Órdenes de Compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-product" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clientes</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <div class="nav-link" (click)="toggleDropdown()" #dropdownToggle>
            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
          </div>
          <ul class="dropdown-menu dropdown-menu-end" [class.show]="isDropdownOpen">
            <li><button class="dropdown-item" (click)="logout()">Cerrar Sesión</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>