

<section class="presentation">

  <div class="triangle-top"></div>
 
    <div class="container">
      
      <div class="image-container">
        <img src="presentation.png" alt="Development illustration">
      </div>
      
      <div class="content">
        <h1>
          Creamos 
          <span class="gradient-purple">soluciones</span><br/>
          <span class="gradient-blue">simples</span> para problemas<br/>
          complejos
        </h1>
        
        <p>
          <strong>Simple Apps</strong> es un prestador de servicios de desarrollo,
          que permite crear experiencias personalizadas,
          seguras y escalables para <strong>pequeños y medianos comercios.</strong>
        </p>

        <button class="cta-button" (click)="scrollToSection('ideas')">
          Saber más
        </button>
      </div>
      
    </div>

  </section>
  <div class="triangle-bottom"></div>
