

<section class="presentation">

  <div class="triangle-top"></div>
 
    <div class="container">
      
      <div class="image-container">
        <img src="presentation.png" alt="Development illustration">
      </div>
      
      <div class="content">
        <h1>
          Creamos 
          <span class="gradient-purple">soluciones </span>
          <span class="gradient-blue">simples</span> para necesidades complejas
        </h1>
        
        <p>
          <strong>Simple Apps</strong> es tu aliado en tecnología, ideal para pequeños y medianos comercios. <br/><br/>
          Te ayudamos a <strong>transformar</strong> tus necesidades en herramientas que aumenten tu <strong>productividad.</strong> <br/> <br/>
          Ofrecemos servicios de desarrollo de software para que puedas automatizar tareas, gestionar clientes, mejorar la comunicación,
          controlar el inventario ¡y más!
        </p>

        <button class="cta-button" (click)="scrollToSection('ideas')">
          Descubrí
        </button>
      </div>
      
    </div>

  </section>
  <div class="triangle-bottom"></div>
